/* DESKTOP */
@media(min-width: 768px) {
   /* CHAT LEFT SIDE */
      /* CHAT NAVBAR */
   .chatNavbar { padding: 2vw; }
   .chatNavbarTelegramText { color: #7E98DF; font-size: 2vw; font-weight: 600; }
   .chatNavbarToggle { height: 1.3vw; width: 1.3vw; }
   .back { color: #7E98DF; font-size: 1.5vw; font-weight: bold; padding: 2vw; }
      /* HAM MENU */
   .chatNavbarHamMenu { background: #7E98DF; border-radius: 2vw 0.5vw 2vw 2vw; left: 6.3vw; padding: 1.5vw 2vw; position: absolute; top: 8.8vh; z-index: 1; }
   .settings, .contacts, .calls, .telegramFAQ { width: 1.5vw; }
   .settings, .contacts, .telegramFAQ { height: 1.5vw; }
   .saveMessages { height: 1.5vw; width: 1vw; }
   .inviteFriends { width: 2vw; }
      /* CHAT SEARCH */
   .chatSearch { align-items: center; padding: 1vw 2vw; justify-content: space-between; }
   .chatSearchBorder { align-items: center; background: #F5F6F8; border-radius: 1vw; padding: 1vw; width: 88%; }
   .logoSize { height: 1.1vw; width: 1.1vw; }
   .searchInputBox { background: transparent; color: #848484; font-size: 1vw; margin-left: 1vw; width: 100%; }
      /* CHAT SORT */
   .sortArea { padding: 1vw 2vw; }
   .sortBtn { border-radius: 1vw; padding: 1vw; font-size: 1vw; font-weight: bold; text-align: center; transition-duration: 0.3s; width: 33%; }
      /* CHAT GROUP */
   .chatGroup { height: 60vh; overflow: hidden; transition-duration: 0.3s; }
   .chatGroup:hover { overflow-y: auto; }
      /* MORE SETTINGS */
   .moreSettings { padding: 0 2vw; }
   .moreSettingsText { font-size: 1.1vw; font-weight: bold; margin: 1.5vw 0; }
      /* IN DEVELOPMENT */
   .inDevelopment { align-items: center; font-size: 1.5vw; font-weight: bold; height: 80vh; justify-content: center; }
   .inDevelopmentAnimation { width: 77%; }
   /* CHAT RIGHT SIDE */
      /* NAVBAR */
   .chatRightSideNavbar, .typeMessage {
      align-items: center;
      background: white;
      justify-content: space-between;
      padding: 1.5vw 4.5vw;
   }
   .chatRightSideNavbarProfilePicture { 
      border-radius: 1.5vw; 
      height: 4vw; 
      margin-right: 1.5vw;
      width: 4vw; 
   }
   .chatRightSideNavbarProfileName { font-size: 1.1vw; font-weight: 600; }
   .chatRightSideNavbarProfileStatus { color: #7E98DF; font-size: 0.9vw; margin-top: 0.5vw; }
   .profileMenuBtn { height: 1.3vw; width: 1.3vw; }
      /* TYPE MESSAGE */
   .typeMessage {
      bottom: 0;
      position: fixed;
      width: 75%;
   }
   .typeMessageBorder {
      background: #FAFAFA;
      border-radius: 1vw;
      padding: 1.5vw;
      width: 100%;
   }
   .typeMessageInput { font-size: 1vw; }
   .chatThreeBtnLogo { height: 1.5vw; margin: 0 0.5vw; width: 1.5vw; }
}

/* MOBILE */
@media(max-width: 768px) {
   /* CHAT LEFT SIDE */

   /* CHAT RIGHT SIDE */
      /* TYPE MESSAGE */
   .chatThreeBtnLogo { height: 20px; width: 20px; }
}